@import url('./components/sidebar.css');
@import url('./components/dropdown.css');
@import url('./components/transactions.css');
@import url('./components/modal.css');
@import url('./components/transaction-form.css');

.expenses__header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expenses__title {
  color: var(--accent);
}

.expenses__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.expenses__controls-export {
  height: 32px;
  padding: 5px 10px;
  background: transparent;
  color: var(--gray-dark);
  border: 1px solid currentColor;
  border-radius: 3px;
  cursor: pointer;
  transition: var(--transition);

  @media (hover: hover) {
    &:hover {
      color: var(--gray-darkest);
    }
  }
}

.expenses__controls-add {
  padding: 3px 7px;
  border-radius: 15px;
  border: none;
  background: var(--accent-light);
  cursor: pointer;
  transition: var(--transition);

  @media (hover: hover) {
    &:hover {
      background: var(--accent-dark);
    }
  }
}

.expenses__controls-add svg path {
  fill: var(--white);
}
